body {
  font-family: "Calibri", sans-serif;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 90%;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 15px;
}

th {
  height: 50px;
  background-color: #6f00ff;
  color: white;
}

.col-req {
  width: 10%;
}

.col-url {
  width: 20%;
}

.col-http {
  width: 10%;
}

.col-reqbody {
  width: 30%;
}

.col-resbody {
  width: 30%;
}
