$black: #000;
$white: #fff;
$indigo: #2a1a5e;
$orange: #f45905;
$mustard: #fb9224;
$yellow: #fbe555;

body {
    background-color: $indigo;
}

.label {
    font-weight: bold;
    text-align: right;
}

.title {
    padding-left: 0px;
}

.go-back-col {
    text-align: right;
}

.add-to-fav {
    text-align: right;
}
.movie-details-row {
    margin-bottom: 20px;
}

.movie-img  {
    width: 100%;
}

.back-button {
    background-color: $orange;
    width: 205px;
    border: 2px solid $indigo;
}

.back-button:hover {
    color: $indigo;
    background-color: $mustard;
    width: 205px;
    border: 2px solid $indigo;
}

.favourite-button {
    background-color: $mustard;
    width: 205px;
    border: 2px solid $indigo;
}

.favourite-button:hover {
    color: $indigo;
    background-color: $mustard;
    width: 205px;
    border: 2px solid $indigo;
}

.movie-details {
    width: 60%;
    background-color: $white;
    padding: 50px;
    margin-bottom: 50px;
}

.genre-director-links {
    padding-left: 0px;
}

.genre-director-links:hover {
    background-color: $mustard;
}


