$black: #000;
$indigo: #2a1a5e;
$orange: #f45905;
$mustard: #fb9224;
$yellow: #fbe555;
$white: #fff;

.navbar {
    background-color: $orange;
    margin-bottom: 20px;
}

.navlink:hover {
    background-color: $mustard;
}

.nav-dropdown {
    float: left;
}

.card-row {
    margin-bottom: 40px;
}

.welcome-div {
    background-color:$mustard;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.card-deck {
    margin-left: 60px;
    margin-right: 60px;
}

h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}






