$black: #000;
$indigo: #2a1a5e;
$orange: #f45905;
$mustard: #fb9224;
$yellow: #fbe555;
$white: #fff;

.login-div {
    padding-top: 50px;
}

.registration-box {
    background-color: $white;
    width: 30%;
    padding: 50px;
  
   }